@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* template:  GLODENT
*
* TABLE OF CONTENTS
*  + Global
*  + Header
*  + Header Content
*  + About Us
*  + Services
*  + Offer
*  + FAQ
*  + Contacts
*/

@import 'styles/reset.css';
@import 'styles/all.min.css';
@import 'styles/owl.carousel.min.css';
@import 'styles/owl.theme.default.min.css';
/* @import 'styles/responsive.css'; */

/**************************************
*
*         GLOBAL   
*
**************************************/

:root {
    --color-blue: #00bcd5;
    --color-dark-blue: #111c58;
    --color-dark: #222222;
    --color-gray: #f7f9fb;
    --color-white: #ffffff;
    --color-light-gray: #808586;
}

@-webkit-keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    position: static; 
    width: 100%; 
    top: auto; 
}

#colorsp{
    color: var(--color-dark-blue);
    font-weight: bold;
    font-size: 16px;
}

textarea::placeholder {
    color: var(--color-dark-blue);
}


#scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

#preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
    background-color: var(--color-dark-blue);
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#preload img {
    display: block;
    width: 32px;
    height: auto;
    /* animation: load 1s infinite; */
    -webkit-animation-name: load;
	animation-name: load;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

::-moz-selection {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

::selection {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

body {
    font-family: var(--font-roboto), sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-light-gray);
}

/*  modification in about us */

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.aboutus-content {
    padding: 1rem;
}

.aboutus-img img {
    width: 100%;
    border-radius: 8px;
}

.single-progress-wrapper {
    flex: 1;
    padding: 1rem;
}

.single-progress {
    align-items: center;
    gap: 1rem;
}

.progress-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}


/* Additional Styles for Responsive Navbar */

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo {
    max-width: 100%;
}

a {
    display: inline-block;
	text-decoration: none;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
    color: var(--color-blue);
}

img {
    display: block;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-oswald), sans-serif;
    font-weight: 700;
    color: var(--color-dark-blue);
    line-height: 1.2;
    margin-bottom: 30px;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.title-section {
    position: absolute;
    margin-bottom: 50px;
    transform: translateX(-50%);
    text-align: center;
    background-color: white;
    padding: 0 20px;
    z-index: 1;
}

.ptb {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.align-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    color: var(--color-white);
    text-transform: uppercase;
    background-color: var(--color-blue);
    border-radius: 3px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-dark-blue);
}

.fields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selection {
    color: var(--color-blue);
}

.suptitle {
    display: inline-block;
    color: var(--color-dark-blue);
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}

.suptitle:before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--color-dark-blue);
    position: absolute;
    top: 50%;
    right: -60px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wrapper-title {
    margin-bottom: 50px;
}

#scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
	padding: 15px 20px;
}

.fixedmenu {
	background-color: var(--color-white);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

#closemenu,
#openmenu {
	display: none;
}



.res-booking {
    display: none;
    font-size: 14px;
    margin-top: 20px;
}

.res-booking .error {
    color: #ff0000;
}

.res-booking .send {
    color: var(--color-blue);
}

/**************************************
*
*         HEADER   
*
**************************************/

.wrapper-bottom-header,
.wrapper-top-header {
    background-color: var(--color-dark-blue);
}

.wrapper-top-header {
    background-color: var(--color-gray);
}

.header-top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-top a {
    color: var(--color-dark);
}

.header-top a:hover {
    color: var(--color-blue);
}

.header-contact p {
    margin-right: 20px;
}

.header-contact i {
    margin-right: 5px;
}

.social-link li {
    float: left;
    margin-left: 20px;
}

.bottom-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wrapper-bottom-header {
    background-color: var(--color-dark-blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.menu li {
	float: left;
	margin-left: 20px;
}

.menu li a {
	color: var(--color-white);
	text-transform: uppercase;
}

.menu li a:hover {
	color: var(--color-blue);
}


/**************************************
*
*         HEADER CONTENT   
*
**************************************/

.wrapper-header-img {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 750px;
}

.wrapper-header-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-content {
    width: 100%;
}

/**************************************
*
*         ABOUT US   
*
**************************************/



#aboutus {
    position: relative;
    padding-top: 0px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
    box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
}

#avantage {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
}

.wrapper-feature {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    max-width: 1400px;
    position: absolute;
    top: 0;
    bottom: 40;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--color-gray);
    -webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
    box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
}

.single-feature {
    width: 25%;
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.single-feature img {
    max-width: 64px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.aboutus-content {
    width: 55%;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.aboutus-img img {
    width: 100%;
    border-radius: 5%;
}

.aboutus-img {
    width: 45%;
    flex: 1; 
    display: flex; 
    justify-content: center;
}

.aboutus-content p {
    margin-bottom: 20px;
}

.wrapper-aboutus-progress {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-progress {
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    margin-bottom: 20px;
}

.progress-img {
    width: 50px;
}

.progress-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .wrapper-aboutus-progress {
        flex-direction: column;

    }

    .single-progress-wrapper {
        width: 100%; 
        flex: 1 1 100%; 
    }

    .single-progress{
        padding: 15px;
    }

    .progress-img{
        flex: 0 0 50px;
    }

    h3 {
        font-size: 1.5em; 
    }

    p {
        font-size: 1em; 
    }
}

.single-progress-wrapper {
    width: 100%; 
}

.progress-content {
    width: calc(100% - 50px);
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.progress-content h3 {
    margin-bottom: 5px;
}

.wrapper-singnature {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.wrapper-singnature>img {
    width: 80px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.signature-content h3 {
    font-size: 16px;
    text-transform: none;
    margin-bottom: 5px;
}

.signature-content>img {
    max-width: 100px;
    height: auto;
}

/**************************************
*
*         SERVICES   
*
**************************************/

.wrapper-service article {
    width: calc(33.333333% - 20px);
    margin: 10px;
    box-sizing: border-box;
    padding: 40px 20px;
    box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
    transition: all 0.5s;
    -webkit-transition: all;
	-o-transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.wrapper-service article:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.wrapper-service article img {
    max-width: 64px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

/**************************************
*
*         OFFER  
*
**************************************/


.wrapper-offer {
	background-color: var(--color-gray);
	-webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
	box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);

}

.offer-content {
	width: 60%;
	padding: 50px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.offer-content p {
	margin-bottom: 20px;
}

.offer-img {
	width: 40%;
	padding: 50px 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.offer-img img {
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
    padding-bottom: 50px;
}

.hero-btn {
    margin-top: 20px;
}


/**************************************
*
*         PRICING  
*
***************************************/


.wrapper-pricing {
	-webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
	box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
}

.single-pricing {
	width: 25%;
	padding: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.pricing-title img {
	max-width: 64px;
	height: auto;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.pricing-content {
	padding-top: 30px;
	padding-bottom: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid var(--color-dark-blue);
	border-top: 1px solid var(--color-dark-blue);
}

.single-price {
	padding-top: 30px;
}

.single-price p {
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: var(--color-dark-blue);
}



/**************************************
*
*         FAQ 
*
**************************************/

#faq {
    background-color: var(--color-gray);
}

.wrapper-faq.container {
	width: 100%;
	max-width: 100%;
	padding: 0px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.faq-content {
    width: 40%;
    background-color: var(--color-white);
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(30%);
    -ms-transform: translateX(30%);
    transform: translateX(30%);
    -webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
    box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
}

.faq-img {
    width: 60%;
}

.faq-img img {
    width: 100%;
}

.wrapper-accordion .content-accordion {
    display: none;
}

.wrapper-accordion h3 {
    margin-bottom: 20px;
    text-transform: none;
    cursor: pointer;
}

.wrapper-accordion h3 i {
    margin-right: 10px;
    font-size: 16px;
}

.content-accordion {
    padding-bottom: 10px;
}

.content-accordion p {
    margin-bottom: 10px;
}

/**************************************
*
*         TESTIMONIALS
*
**************************************/

#testimonials {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    background-attachment: fixed;
}

#testimonials .suptitle,
#testimonials h2 {
    color: var(--color-white);
}

#testimonials .suptitle::before {
    background-color: var(--color-white);
}

.wrapper-testimonials {
    color: var(--color-white);
    max-width: 1000px;
}

.single-testimonials img {
    width: 80px !important;
    height: 80px !important;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
}

.wrapper-author h3 {
    margin-bottom: 10px;
    color: var(--color-white);
}

.wrapper-author {
    margin-top: 30px;
}

.wrapper-author p {
    color: var(--color-white);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: var(--font-oswald); 
    font-weight: 400;
}

/**************************************
*
*         BOOKING
*
**************************************/

.wrapper-booking {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bookong-form {
    width: 60%;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.booking-working-hours {
    width: 40%;
    background-color: var(--color-white);
    -webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
    box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.booking-working-hours h3 {
    font-size: 25px;
}

.wrapper-hours {
    margin-top: 30px;
}

.table-hours {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: 20px;
}

.wrapper-input {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
} 

.error-message {
    margin-top: 5px; 
    font-size: 12px; 
    color: red; 
}

.wrapper-input input{
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0px 20px 0px;
    border: none;
    outline: none;
    background-color: var(--color-white);
    width: calc(85% - 0px);
    margin-bottom: 40px;
    color: var(--color-dark);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid var(--color-dark-blue);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.wrapper-input select{
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0px 20px 0px;
    border: 0.5px solid var(--color-white);
    outline: none;
    border-radius: 0.5px;
    background-color: var(--color-white);
    width: calc(85% - 0px);
    margin-bottom: 40px;
    color: var(--color-dark);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid var(--color-dark-blue);
    -webkit-transition: all;
    -o-transition: all;
    transition: all 0.3s ease;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.wrapper-input textarea {
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0px 20px 0px;
    border: none;
    outline: none;
    background-color: var(--color-white);
    width: calc(93% - 0px);
    margin-bottom: 40px;
    color: var(--color-dark-blue);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid var(--color-dark-blue);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.wrapper-input input::-webkit-input-placeholder {
    color: var(--color-dark-blue);
}

.wrapper-input input::-moz-placeholder {
    color: var(--color-dark-blue);
}

.wrapper-input input:-ms-input-placeholder {
    color: vvar(--color-dark-blue);
}

.wrapper-input input::-ms-input-placeholder {
    color: var(--color-dark-blue);
}

.wrapper-input input::placeholder {
    color: vvar(--color-dark-blue);
}

.wrapper-input input:focus {
    border-bottom: 1px solid var(--color-blue);
}

.bookong-form button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/**************************************
*
*         CONTACTS
*
**************************************/

#contacts {
    background-color: var(--color-dark-blue);
}

#contacts .social-link li {
    margin-left: 0px;
    margin-right: 20px;
}

#contacts .suptitle,
#contacts h2 {
    color: var(--color-white);
}

#contacts .suptitle:before {
    background-color: var(--color-white);
}

.wrapper-contact {
    -webkit-box-pack: start;
	-ms-flex-pack: start;
    justify-content: flex-start;
}

.wrapper-contact>div {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    color: var(--color-white);
}

.wrapper-contact>div p {
    margin-bottom: 10px;
}

.wrapper-contact>div a {
    color: var(--color-white);
}

.wrapper-contact>div a:hover {
    color: var(--color-blue);
}

.wrapper-contact>div h3 {
    color: var(--color-white);
    font-size: 20px;
}

.wrapper-map iframe {
    width: 100%;
    height: 400px;
    display: block;
}

.copyright {
    background-color: var(--color-dark-blue);
    padding: 30px 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: var(--color-white);
}

@layer utilities {
    .btn_white {
        @apply border-white bg-white px-8 py-3 text-green-50;
    }

    .btn_white_text {
        @apply border-white bg-white px-8 py-3 text-gray-90;
    }

    .btn_green {
        @apply border-green-50 bg-green-50 px-8 py-5 text-white;
    }

    .btn_dark_green {
        @apply bg-purple-700 px-8 py-4 text-white transition-all hover: bg-black;
    }

    .btn_dark_green_outline {
        @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
    }

    .max-container {
        @apply mx-auto max-w-[1440px];
    }

    .padding-container {
        @apply px-6 lg: px-20 xl:px-0;
    }

    .flexCenter {
        @apply flex items-center justify-center;
    }

    .flexBetween {
        @apply flex items-center justify-between;
    }

    .flexStart {
        @apply flex items-center justify-start;
    }

    .flexEnd {
        @apply flex items-center justify-end;
    }

    .bold-20 {
        @apply text-[20px] font-[700];
    }

    .bold-18 {
        @apply text-[18px] font-[700];
    }

    .bold-16 {
        @apply text-[16px] font-[700];
    }

    /* Hero */
    .hero-map {
        @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md: -right-28 xl:-top-60;
    }

    /* Camp */
    .camp-quote {
        @apply absolute -right-6 bottom-4 w-[140px] lg: bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
    }

    /* Feature */
    .feature-phone {
        @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md: -left-16 lg:flex 3xl:left-20;
    }

    /* Get App */
    .get-app {
        @apply max-container relative flex w-full flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm: flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
    }
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml-auto {
    margin-left: auto;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .single-feature {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .single-feature {
        flex: 1 1 100%;
    }
}

.wrapper-aboutus {
    margin-top: 40px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.wrapper-aboutus .aboutus-img img {
    max-width: 100%;
}

.wrapper-aboutus .aboutus-content {
    padding: 20px;
}

.large-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.separate {
    margin-top: 30px;
    /* Adjust the value as needed */
}

.single-feature h3 {
    font-size: 1em;
    margin: 10px 0;
}

.single-feature p {
    font-size: 0.875em;
}

/**************************************
*
*         PRICING  DONE
*
***************************************/


@media (max-width: 1200px) {
    .single-feature {
        flex: 0 1 calc(33.33% - 20px);
        /* 3 items in a row on smaller screens */
    }
}

@media (max-width: 768px) {
    .single-feature {
        flex: 0 1 calc(50% - 20px);
        /* 2 items in a row on tablet screens */
    }
}

@media (max-width: 480px) {
    .single-feature {
        flex: 0 1 100%;
        /* 1 item in a row on mobile screens */
    }
}

@media all and (max-width: 1000px) {
    #nav {
        position: fixed;
        top: 0;
        left: -320px;
        bottom: 0;
		height: 100vh;
        width: 320px;
        z-index: 1000;
        background-color: var(--color-white);
        padding: 15px 40px;
		-webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: auto;
    }

    .menu li {
        float: none;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .menu li a {
        color: var(--color-dark);
        text-transform: uppercase;
        font-size: larger;
    }

    #closemenu,
    #openmenu {
        display: inline-block;
    }

    .wrapper-bottom-header .appointment,
    .wrapper-top-header {
        display: none;
    }

    .wrapper-bottom-header {
		background-color: var(--color-dark-blue);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}

    #closemenu {
        float: right;
        margin-bottom: 30px;
    }

    .menu {
        clear: both;
    }

    .wrapper-feature {
		position: static;
		-webkit-transform: translate(0%, 0%);
		-ms-transform: translate(0%, 0%);
		transform: translate(0%, 0%);
		margin-bottom: 100px;

	}

    #aboutus {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #avantage {
        position: relative;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    .single-feature {
        width: 50%;
    }

    .aboutus-img,
    .offer-img,
    .faq-img {
        display: none;
    }

    .aboutus-content {
        width: 100%;
        padding-left: 0px;
    }

    .wrapper-service article {
        width: calc(50% - 20px);
    }

    .ptb {
		padding-top: 50px;
		padding-bottom: 50px;
	}

    .offer-content {
        width: 100%;
    }

    .faq-content {
        width: 100%;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    .single-pricing {
        width: calc(50% - 20px);
        -webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
        box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
        margin: 10px;
    }

    .wrapper-pricing {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .bookong-form {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 50px;
    }

    .booking-working-hours {
        width: 100%;
    }

    .wrapper-contact>div {
        width: 50%;
    }
}

@media all and (max-width: 600px) {
    .single-feature {
        width: 100%;
    }

    .single-pricing {
        width: calc(100% - 20px);
        -webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
        box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
    }

    .wrapper-service article {
        width: calc(100% - 20px);
    }

    .wrapper-input input {
        width: calc(100% - 20px);
    }

    .wrapper-contact>div {
        width: 100%;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }
}

.ptb-feature {
    padding: 100px 0;
    background-color: #f9f9f9;
    /* padding-top: 120px; */
}

.wrapper-title {
    text-align: center;
    margin-bottom: 40px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px; 
}

.feature-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 80px;
    height: auto;
}

.feature-card h3 {
    font-size: 20px;
    color: #002653;
    margin-bottom: 15px;
}

.feature-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }
}

.form-wrapper .custom-select,
.form-wrapper .select2 .select2-selection,
.form-wrapper input[type=email],
.form-wrapper input[type=number],
.form-wrapper input[type=tel],
.form-wrapper input[type=text],
.form-wrapper select,
.form-wrapper textarea {
    background: #fff;
    border: 1px solid var(--moon-250);
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--moon-800);
    display: block;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    height: 56px;
    line-height: 24px;
    margin: 4px 0;
    padding: 16px;
    transition: border .2s;
    width: 100%
}

.form-wrapper .custom-select.w-select-error,
.form-wrapper .select2 .select2-selection.w-select-error,
.form-wrapper input[type=email].w-select-error,
.form-wrapper input[type=number].w-select-error,
.form-wrapper input[type=tel].w-select-error,
.form-wrapper input[type=text].w-select-error,
.form-wrapper select.w-select-error,
.form-wrapper textarea.w-select-error {
    border: 1px solid var(--poppy-600)
}

.form-wrapper .custom-select.custom-arrow-behaviour,
.form-wrapper .select2 .select2-selection.custom-arrow-behaviour,
.form-wrapper input[type=email].custom-arrow-behaviour,
.form-wrapper input[type=number].custom-arrow-behaviour,
.form-wrapper input[type=tel].custom-arrow-behaviour,
.form-wrapper input[type=text].custom-arrow-behaviour,
.form-wrapper select.custom-arrow-behaviour,
.form-wrapper textarea.custom-arrow-behaviour {
    padding: 24px 16px 8px
}

.form-wrapper .custom-select .select2-selection__rendered,
.form-wrapper .select2 .select2-selection .select2-selection__rendered,
.form-wrapper input[type=email] .select2-selection__rendered,
.form-wrapper input[type=number] .select2-selection__rendered,
.form-wrapper input[type=tel] .select2-selection__rendered,
.form-wrapper input[type=text] .select2-selection__rendered,
.form-wrapper select .select2-selection__rendered,
.form-wrapper textarea .select2-selection__rendered {
    line-height: 1.5;
    max-width: calc(100% - 56px);
    padding: 0 !important
}

.form-wrapper .custom-select .select2-selection__arrow b,
.form-wrapper .select2 .select2-selection .select2-selection__arrow b,
.form-wrapper input[type=email] .select2-selection__arrow b,
.form-wrapper input[type=number] .select2-selection__arrow b,
.form-wrapper input[type=tel] .select2-selection__arrow b,
.form-wrapper input[type=text] .select2-selection__arrow b,
.form-wrapper select .select2-selection__arrow b,
.form-wrapper textarea .select2-selection__arrow b {
    border: none;
    display: none;
    left: calc(100% - 19px);
    margin-left: -19px;
    margin-top: -5px
}

.form-wrapper .custom-select.custom-select,
.form-wrapper .select2 .select2-selection.custom-select,
.form-wrapper input[type=email].custom-select,
.form-wrapper input[type=number].custom-select,
.form-wrapper input[type=tel].custom-select,
.form-wrapper input[type=text].custom-select,
.form-wrapper select.custom-select,
.form-wrapper textarea.custom-select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5.266 5.869 9.89 1.28a.375.375 0 0 0 0-.531L9.27.131a.375.375 0 0 0-.53 0L5 3.834 1.26.131a.375.375 0 0 0-.532 0L.11.75a.375.375 0 0 0 0 .531L4.734 5.87a.375.375 0 0 0 .532 0' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-position: 353px 17px;
    background-repeat: no-repeat;
    background-size: 10px 6px;
    color: var(--moon-500)
}

.form-wrapper .custom-select.clicked,
.form-wrapper .select2 .select2-selection.clicked,
.form-wrapper input[type=email].clicked,
.form-wrapper input[type=number].clicked,
.form-wrapper input[type=tel].clicked,
.form-wrapper input[type=text].clicked,
.form-wrapper select.clicked,
.form-wrapper textarea.clicked {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--water-400)
}

.form-wrapper .custom-select:active,
.form-wrapper .custom-select:focus,
.form-wrapper .select2 .select2-selection:active,
.form-wrapper .select2 .select2-selection:focus,
.form-wrapper input[type=email]:active,
.form-wrapper input[type=email]:focus,
.form-wrapper input[type=number]:active,
.form-wrapper input[type=number]:focus,
.form-wrapper input[type=tel]:active,
.form-wrapper input[type=tel]:focus,
.form-wrapper input[type=text]:active,
.form-wrapper input[type=text]:focus,
.form-wrapper select:active,
.form-wrapper select:focus,
.form-wrapper textarea:active,
.form-wrapper textarea:focus {
    border-color: var(--water-500);
    box-shadow: 0 3px 8px 0 var(--moon-200)
}

.form-wrapper .custom-select:active.label-and-placeholder,
.form-wrapper .custom-select:focus.label-and-placeholder,
.form-wrapper .select2 .select2-selection:active.label-and-placeholder,
.form-wrapper .select2 .select2-selection:focus.label-and-placeholder,
.form-wrapper input[type=email]:active.label-and-placeholder,
.form-wrapper input[type=email]:focus.label-and-placeholder,
.form-wrapper input[type=number]:active.label-and-placeholder,
.form-wrapper input[type=number]:focus.label-and-placeholder,
.form-wrapper input[type=tel]:active.label-and-placeholder,
.form-wrapper input[type=tel]:focus.label-and-placeholder,
.form-wrapper input[type=text]:active.label-and-placeholder,
.form-wrapper input[type=text]:focus.label-and-placeholder,
.form-wrapper select:active.label-and-placeholder,
.form-wrapper select:focus.label-and-placeholder,
.form-wrapper textarea:active.label-and-placeholder,
.form-wrapper textarea:focus.label-and-placeholder {
    color: var(--moon-400);
    font-size: 12px;
    line-height: 16px;
    top: 12px
}

.form-wrapper .custom-select.valid,
.form-wrapper .select2 .select2-selection.valid,
.form-wrapper input[type=email].valid,
.form-wrapper input[type=number].valid,
.form-wrapper input[type=tel].valid,
.form-wrapper input[type=text].valid,
.form-wrapper select.valid,
.form-wrapper textarea.valid {
    padding-right: 56px
}

.form-wrapper .custom-select.error,
.form-wrapper .custom-select.w-select-error,
.form-wrapper .select2 .select2-selection.error,
.form-wrapper .select2 .select2-selection.w-select-error,
.form-wrapper input[type=email].error,
.form-wrapper input[type=email].w-select-error,
.form-wrapper input[type=number].error,
.form-wrapper input[type=number].w-select-error,
.form-wrapper input[type=tel].error,
.form-wrapper input[type=tel].w-select-error,
.form-wrapper input[type=text].error,
.form-wrapper input[type=text].w-select-error,
.form-wrapper select.error,
.form-wrapper select.w-select-error,
.form-wrapper textarea.error,
.form-wrapper textarea.w-select-error {
    border-color: var(--poppy-600)
}

.form-wrapper input[type=email],
.form-wrapper input[type=number],
.form-wrapper input[type=tel],
.form-wrapper input[type=text],
.form-wrapper textarea {
    padding: 24px 16px 8px
}

.form-wrapper input[type=email]:not(:-ms-input-placeholder)~.label-and-placeholder,
.form-wrapper input[type=number]:not(:-ms-input-placeholder)~.label-and-placeholder,
.form-wrapper input[type=tel]:not(:-ms-input-placeholder)~.label-and-placeholder,
.form-wrapper input[type=text]:not(:-ms-input-placeholder)~.label-and-placeholder,
.form-wrapper textarea:not(:-ms-input-placeholder)~.label-and-placeholder {
    color: var(--moon-400);
    font-size: 12px;
    line-height: 16px;
    top: 12px
}

.form-wrapper input[type=email]:active~.label-and-placeholder,
.form-wrapper input[type=email]:focus~.label-and-placeholder,
.form-wrapper input[type=email]:not(:placeholder-shown)~.label-and-placeholder,
.form-wrapper input[type=number]:active~.label-and-placeholder,
.form-wrapper input[type=number]:focus~.label-and-placeholder,
.form-wrapper input[type=number]:not(:placeholder-shown)~.label-and-placeholder,
.form-wrapper input[type=tel]:active~.label-and-placeholder,
.form-wrapper input[type=tel]:focus~.label-and-placeholder,
.form-wrapper input[type=tel]:not(:placeholder-shown)~.label-and-placeholder,
.form-wrapper input[type=text]:active~.label-and-placeholder,
.form-wrapper input[type=text]:focus~.label-and-placeholder,
.form-wrapper input[type=text]:not(:placeholder-shown)~.label-and-placeholder,
.form-wrapper textarea:active~.label-and-placeholder,
.form-wrapper textarea:focus~.label-and-placeholder,
.form-wrapper textarea:not(:placeholder-shown)~.label-and-placeholder {
    color: var(--moon-400);
    font-size: 12px;
    line-height: 16px;
    top: 12px
}

.form-wrapper select.is-hidden {
    height: 0;
    padding: 0;
    width: 0
}

.form-wrapper input[type=hidden]~.label-and-placeholder,
.form-wrapper select.is-hidden~.label-and-placeholder {
    display: none !important
}

.form-wrapper span.select2-container--open+.label-and-placeholder,
.form-wrapper span.select2-has-value+.label-and-placeholder {
    color: var(--moon-400);
    font-size: 12px;
    line-height: 16px;
    top: 12px;
    z-index: 2
}

.form-wrapper span.select2-container--open {
    z-index: 2
}

.form-wrapper span.select2-container--open .select2-selection:after {
    transform: rotate(180deg)
}

.form-wrapper span.select2-has-value .select2-selection:after {
    display: none
}

.form-wrapper textarea {
    min-height: 80px;
    resize: none
}

.form-wrapper textarea:active~.label-and-placeholder,
.form-wrapper textarea:focus~.label-and-placeholder,
.form-wrapper textarea:not(:placeholder-shown)~.label-and-placeholder {
    background-color: #fff;
    padding-top: 7px;
    top: 5px;
    width: calc(100% - 32px)
}

.form-wrapper .field-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    width: 100%
}

.form-wrapper .field-wrapper .label-and-placeholder {
    color: var(--moon-500);
    display: -webkit-box;
    font-size: 14px;
    left: 16px;
    line-height: 24px;
    max-height: 24px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 20px;
    word-wrap: break-word;
    pointer-events: none;
    transition: all .2s ease;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical
}

.form-wrapper .field-wrapper--hidden {
    height: 0;
    position: absolute;
    visibility: hidden;
    width: 0
}

.form-wrapper .field-wrapper.checkboxGatedContent {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    padding: 4px 0 0;
    z-index: auto
}

.form-wrapper .field-wrapper.checkboxGatedContent input[type=checkbox] {
    background: #fff;
    border: 1px solid var(--moon-250);
    border-radius: .2em;
    margin: 3px 0 0 2px;
    min-width: 15px;
    width: 15px
}

.form-wrapper .field-wrapper.checkboxGatedContent label {
    flex-grow: 1;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 8px;
    width: min-content
}

.form-wrapper .field-wrapper.checkboxGatedContent .valid~div.error--none {
    background-image: none
}

.form-wrapper .field-wrapper.checkboxGatedContent .error {
    padding-left: 24px
}

.form-wrapper .field-wrapper div.error {
    color: var(--poppy-600);
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 16px;
    order: 4;
    width: 100%
}

.form-wrapper .field-wrapper div.error+div.error {
    display: none !important
}

.form-wrapper .field-wrapper.partner-id-error {
    margin-top: 16px
}

.form-wrapper .field-wrapper .valid~div.error--none {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%231BD176' fill-rule='evenodd' d='M12 21.6a9.6 9.6 0 0 0 9.6-9.6 9.6 9.6 0 1 0-19.2 0 9.6 9.6 0 0 0 9.6 9.6m-1.986-4.517-4.026-4.025a.62.62 0 0 1 0-.876l.876-.876a.62.62 0 0 1 .876 0l2.712 2.712 5.808-5.809a.62.62 0 0 1 .876 0l.876.876a.62.62 0 0 1 0 .876l-7.122 7.123a.62.62 0 0 1-.876 0' clip-rule='evenodd'/%3E%3C/svg%3E");
    height: 24px;
    position: absolute;
    right: 36px;
    top: 20px;
    width: 100%
}

.form-wrapper .field-wrapper.is-hidden .error--none {
    display: none !important
}

.form-wrapper .field-wrapper input.valid~div.error--none,
.form-wrapper .field-wrapper select.valid~div.error--none {
    right: 16px
}

.form-wrapper .field-wrapper[data-row="2"] {
    flex-direction: column;
    max-width: 100%;
    width: 100%
}

@media(min-width:768px) {
    .form-wrapper .field-wrapper[data-row="2"] {
        max-width: calc(50% - 4px)
    }
}

.form-wrapper .field-wrapper[data-row="3"] {
    flex-direction: column;
    max-width: 100%;
    width: 100%
}

@media(min-width:768px) {
    .form-wrapper .field-wrapper[data-row="3"] {
        max-width: calc(33.3% - 4px)
    }
}

.form-wrapper .field-wrapper[data-row="3"]+.field-wrapper[data-row="3"] {
    margin-left: 0 !important
}

@media(min-width:768px) {
    .form-wrapper .field-wrapper[data-row="3"]+.field-wrapper[data-row="3"] {
        margin-left: 8px !important
    }
}

.form-wrapper .field-wrapper.row-2 {
    flex-direction: row
}

.form-wrapper .field-wrapper.row-2 .field-wrapper {
    max-width: calc(50% - 8px);
    max-width: 184px
}

.form-wrapper .field-wrapper.row-2 .field-wrapper input {
    width: 100%
}

.form-wrapper .field-wrapper.hide-select-on-change {
    display: none !important
}

.form-wrapper .required-note {
    color: var(--moon-500);
    flex-basis: 100%;
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0 16px !important
}

.form-wrapper .power_form_input .step1-submit {
    display: none
}

.form-wrapper .js-patient-redirect {
    display: block;
    text-align: center
}

@media(min-width:768px) {
    .form-wrapper .js-patient-redirect {
        text-align: left
    }
}

.form-wrapper .js-patient-redirect.button {
    border-radius: 8px;
    margin-top: 0;
    max-width: inherit;
    width: 100%
}

@media(min-width:768px) {
    .form-wrapper .js-patient-redirect.button {
        width: fit-content
    }
}

.form-wrapper__step--1 {
    margin-top: 36px
}

.form-wrapper__step--1 .form-wrapper__step-legal .know-more {
    color: #fff
}

.form-wrapper__step--1 .form-wrapper__step-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    width: 100%
}

@media(min-width:768px) {
    .form-wrapper__step--1 .form-wrapper__step-fields {
        align-items: flex-start;
        flex-direction: row
    }
}

.form-wrapper__step--1 .form-wrapper__step .field-wrapper {
    max-width: 225px
}

.form-wrapper__step--1 .form-wrapper__step-submit {
    height: 56px;
    line-height: 18px;
    margin: 4px 0
}

.form-wrapper__step--1 .js-patient-redirect {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: center;
    line-height: 18px;
    margin: 4px 0 !important
}

.form-wrapper .know-more {
    color: var(--moon-500);
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline
}

#magic-form-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 80px;
    width: calc(100% - 48px)
}

#magic-form-wrapper .headline-xxxl-bold {
    margin: 0 auto 16px;
    max-width: 1000px;
    text-align: center
}

#magic-form-wrapper .tile-xl-bold {
    margin: 0 auto 40px;
    max-width: 720px;
    text-align: center
}

#magic-form-wrapper #magic-form {
    display: flex;
    max-width: 800px;
    width: 100%
}

#magic-form-wrapper #magic-form .form-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 var(--moon-250);
    display: block;
    padding: 32px;
    position: relative;
    width: 100% !important
}

#magic-form-wrapper #magic-form .form-wrapper--no-border {
    box-shadow: none
}

#magic-form-wrapper #magic-form .form-wrapper .title {
    display: none
}

#magic-form-wrapper #magic-form .form-wrapper form {
    max-width: 100%;
    width: 100% !important
}

#magic-form-wrapper #magic-form .form-wrapper form .field-wrapper {
    margin-left: 0;
    max-width: 100% !important
}

#magic-form-wrapper #magic-form .form-wrapper form .required-note {
    text-align: center
}

#magic-form-wrapper #magic-form .form-wrapper form .power_form_input,
#magic-form-wrapper #magic-form .form-wrapper form .power_form_input .step1-submit {
    margin: 0 auto
}

#magic-form-wrapper ._60p-btm-illlu-thank-you {
    height: 250px;
    margin-top: 83px;
    width: 380px
}

.modalForm {
    width: 100%
}

.modalForm__content {
    height: 100%
}

@media(min-width:768px) {
    .modalForm__content {
        display: flex;
        overflow: hidden
    }
}

.modalForm__content-left,
.modalForm__content-right {
    padding: 24px
}

@media(min-width:768px) {

    .modalForm__content-left,
    .modalForm__content-right {
        padding: 40px
    }
}

.modalForm__content-left {
    height: 100%
}

@media(min-width:768px) {
    .modalForm__content-left {
        overflow: auto;
        width: 472px
    }
}

.dropdown {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
}
label {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -30px;
    display: block;
}


